#entete {
  display: flex;
  align-items: center; /* Aligne verticalement le logo et la navigation */
  justify-content: space-between; /* Sépare le logo à gauche et la navigation à droite */
  background: rgb(18, 64, 25);
  padding: 0.5em 1em; /* Espacement autour du contenu */
}

#entete img {
  max-width: 30%; /* Taille du logo ajustable */
  height: auto;
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
   background: #c63ff0; /*quand je passe la souris, ça change de couleur */
}
